/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
    line-height: 1.25;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* clearfix */

.clearfix:before , .clearfix:after 
{
content: "";
display: table;
}

.clearfix:after
{
clear: both;
}

/* container */
.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}

/* costom styles */

header{
    background-color:indianred;
    height: 100px;
    line-height: 72px;
    border: 2px solid black;
    position: sticky;
    top: 0;

}

.link{
    float: right;
}

.link a{
    text-decoration: none;
    text-transform: capitalize;
    color: gold;
    padding-right:20px;
    font-size: 15px;
}

.logo{
    width: 200px;
    padding-left: 20px;
    float: left;
    vertical-align: middle;
}

/* main */

body{
    background-color: black;
}

.luffy{
    width: 100%;
    border: 4px solid gold;
}

.article{
    float: left;
    width: 50%;
    padding: 0 30px;
    margin-bottom: 40px;
}

.article-heading{
    text-transform: capitalize;
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
}

/* gallery */
.col{
    float: left;
    width: 30%;
    padding: 0 20px;
}

.gallaryone{
            padding-left: 90px;
            margin-bottom: 250px;
}

.gallarytwo{
    padding-left: 90px;
}

/* footer */
footer{
    background-color: indianred;
    height: 50px;
}

.botton a{
    border: 2px solid black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: small;
    text-align: center;
    padding: 7px;
    background-color: coral;
    color: red;
    font-weight: bold;
    line-height: 0.75;
    position: fixed;
    bottom: 5px;
    right: 5px;
    text-decoration: none;
}